In [9]:
from pulp import *
from pandas import *
from numpy import *

# Creates the problem

prob = LpProblem("Products_Distribution_Problem", LpMinimize)

# Defining the warehouses, contracts, supply and demands

warehouses = ["A", "B", "C", "D", "E"]

supply = {"A": 175, "B": 175, "C": 175, "D": 175, "E": 175}

min_delivery = {"A": 25, "B": 30, "C": 30, "D": 35, "E": 25}

min_suppliers = {"1": 3, "2": 2, "3": 3, "4": 2, "5": 3, "6": 2, "7": 2, "8": 3, "9": 3, "10": 3}

contracts = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]

demands = {"1": 100, "2": 65, "3": 100, "4": 70, "5": 120, "6": 60, "7": 75, "8": 100, "9": 95, "10": 85}

# Defining the costs of transportation

costs = [
  [10, 15, 10, 15, 20, 20, 20, 40, 10, 30],
  [30, 15, 10, 20, 10, 20, 20, 30, 20, 30],
  [20, 10, 5, 15, 10, 15, 15, 10, 5, 5],
  [40, 25, 15, 20, 10, 30, 30, 10, 15, 10],
  [30, 30, 25, 10, 5, 35, 35, 15, 5, 10],
]

costs = makeDict([warehouses, contracts], costs, 0)

# Creating the tuples that contains all the arcs of possibilities

arcs = [(x, y) for x in warehouses for y in contracts]

# Creating the variables of the problem and 

vars = LpVariable.dicts("arc", (warehouses, contracts), 0, None, LpInteger)

is_warehouse_used = LpVariable.dicts("warehouses_used", (warehouses, contracts), 0, 1, LpInteger)

# Adding the objective function to the problem

prob += (
  lpSum([vars[x][y] * costs[x][y] for (x, y) in arcs]), "Total_Minimum_Cost",
)

# Adding the supply maximum restrictions of the problem

for x in warehouses:
  prob += (
    lpSum([vars[x][y] for y in contracts]) <= supply[x],
          "Max_Sum_of_Products_out_of_Warehouse_%s" % x,
  )

# Adding the contracts minimum restrictions of the problem

for y in contracts:
  prob += (
  lpSum([vars[x][y] for x in warehouses]) == demands[y],
        "Sum_of_Products_into_Contract%s" % y,
  )


# Adding the minimum suppliers restriction

for y in contracts:
  for x in warehouses:
    prob += (vars[x][y] >= min_delivery[x]*is_warehouse_used[x][y])
    prob += (vars[x][y] <= supply[x]*is_warehouse_used[x][y])

for y in contracts:
  prob += (
  lpSum([is_warehouse_used[x][y] for x in warehouses]) >= min_suppliers[y]
  )

In [10]:
# Writting the problem

print(prob)

Products_Distribution_Problem:
MINIMIZE
10*arc_A_1 + 30*arc_A_10 + 15*arc_A_2 + 10*arc_A_3 + 15*arc_A_4 + 20*arc_A_5 + 20*arc_A_6 + 20*arc_A_7 + 40*arc_A_8 + 10*arc_A_9 + 30*arc_B_1 + 30*arc_B_10 + 15*arc_B_2 + 10*arc_B_3 + 20*arc_B_4 + 10*arc_B_5 + 20*arc_B_6 + 20*arc_B_7 + 30*arc_B_8 + 20*arc_B_9 + 20*arc_C_1 + 5*arc_C_10 + 10*arc_C_2 + 5*arc_C_3 + 15*arc_C_4 + 10*arc_C_5 + 15*arc_C_6 + 15*arc_C_7 + 10*arc_C_8 + 5*arc_C_9 + 40*arc_D_1 + 10*arc_D_10 + 25*arc_D_2 + 15*arc_D_3 + 20*arc_D_4 + 10*arc_D_5 + 30*arc_D_6 + 30*arc_D_7 + 10*arc_D_8 + 15*arc_D_9 + 30*arc_E_1 + 10*arc_E_10 + 30*arc_E_2 + 25*arc_E_3 + 10*arc_E_4 + 5*arc_E_5 + 35*arc_E_6 + 35*arc_E_7 + 15*arc_E_8 + 5*arc_E_9 + 0
SUBJECT TO
Max_Sum_of_Products_out_of_Warehouse_A: arc_A_1 + arc_A_10 + arc_A_2 + arc_A_3
 + arc_A_4 + arc_A_5 + arc_A_6 + arc_A_7 + arc_A_8 + arc_A_9 <= 175

Max_Sum_of_Products_out_of_Warehouse_B: arc_B_1 + arc_B_10 + arc_B_2 + arc_B_3
 + arc_B_4 + arc_B_5 + arc_B_6 + arc_B_7 + arc_B_8 + arc_B_9 <= 175

Max_Sum_of_Products_out_of_Warehouse_C: arc_C_1 + arc_C_10 + arc_C_2 + arc_C_3
 + arc_C_4 + arc_C_5 + arc_C_6 + arc_C_7 + arc_C_8 + arc_C_9 <= 175

Max_Sum_of_Products_out_of_Warehouse_D: arc_D_1 + arc_D_10 + arc_D_2 + arc_D_3
 + arc_D_4 + arc_D_5 + arc_D_6 + arc_D_7 + arc_D_8 + arc_D_9 <= 175

Max_Sum_of_Products_out_of_Warehouse_E: arc_E_1 + arc_E_10 + arc_E_2 + arc_E_3
 + arc_E_4 + arc_E_5 + arc_E_6 + arc_E_7 + arc_E_8 + arc_E_9 <= 175

Sum_of_Products_into_Contract1: arc_A_1 + arc_B_1 + arc_C_1 + arc_D_1
 + arc_E_1 = 100

Sum_of_Products_into_Contract2: arc_A_2 + arc_B_2 + arc_C_2 + arc_D_2
 + arc_E_2 = 65

Sum_of_Products_into_Contract3: arc_A_3 + arc_B_3 + arc_C_3 + arc_D_3
 + arc_E_3 = 100

Sum_of_Products_into_Contract4: arc_A_4 + arc_B_4 + arc_C_4 + arc_D_4
 + arc_E_4 = 70

Sum_of_Products_into_Contract5: arc_A_5 + arc_B_5 + arc_C_5 + arc_D_5
 + arc_E_5 = 120

Sum_of_Products_into_Contract6: arc_A_6 + arc_B_6 + arc_C_6 + arc_D_6
 + arc_E_6 = 60

Sum_of_Products_into_Contract7: arc_A_7 + arc_B_7 + arc_C_7 + arc_D_7
 + arc_E_7 = 75

Sum_of_Products_into_Contract8: arc_A_8 + arc_B_8 + arc_C_8 + arc_D_8
 + arc_E_8 = 100

Sum_of_Products_into_Contract9: arc_A_9 + arc_B_9 + arc_C_9 + arc_D_9
 + arc_E_9 = 95

Sum_of_Products_into_Contract10: arc_A_10 + arc_B_10 + arc_C_10 + arc_D_10
 + arc_E_10 = 85

_C1: arc_A_1 - 25 warehouses_used_A_1 >= 0

_C2: arc_A_1 - 175 warehouses_used_A_1 <= 0

_C3: arc_B_1 - 30 warehouses_used_B_1 >= 0

_C4: arc_B_1 - 175 warehouses_used_B_1 <= 0

_C5: arc_C_1 - 30 warehouses_used_C_1 >= 0

_C6: arc_C_1 - 175 warehouses_used_C_1 <= 0

_C7: arc_D_1 - 35 warehouses_used_D_1 >= 0

_C8: arc_D_1 - 175 warehouses_used_D_1 <= 0

_C9: arc_E_1 - 25 warehouses_used_E_1 >= 0

_C10: arc_E_1 - 175 warehouses_used_E_1 <= 0

_C11: arc_A_2 - 25 warehouses_used_A_2 >= 0

_C12: arc_A_2 - 175 warehouses_used_A_2 <= 0

_C13: arc_B_2 - 30 warehouses_used_B_2 >= 0

_C14: arc_B_2 - 175 warehouses_used_B_2 <= 0

_C15: arc_C_2 - 30 warehouses_used_C_2 >= 0

_C16: arc_C_2 - 175 warehouses_used_C_2 <= 0

_C17: arc_D_2 - 35 warehouses_used_D_2 >= 0

_C18: arc_D_2 - 175 warehouses_used_D_2 <= 0

_C19: arc_E_2 - 25 warehouses_used_E_2 >= 0

_C20: arc_E_2 - 175 warehouses_used_E_2 <= 0

_C21: arc_A_3 - 25 warehouses_used_A_3 >= 0

_C22: arc_A_3 - 175 warehouses_used_A_3 <= 0

_C23: arc_B_3 - 30 warehouses_used_B_3 >= 0

_C24: arc_B_3 - 175 warehouses_used_B_3 <= 0

_C25: arc_C_3 - 30 warehouses_used_C_3 >= 0

_C26: arc_C_3 - 175 warehouses_used_C_3 <= 0

_C27: arc_D_3 - 35 warehouses_used_D_3 >= 0

_C28: arc_D_3 - 175 warehouses_used_D_3 <= 0

_C29: arc_E_3 - 25 warehouses_used_E_3 >= 0

_C30: arc_E_3 - 175 warehouses_used_E_3 <= 0

_C31: arc_A_4 - 25 warehouses_used_A_4 >= 0

_C32: arc_A_4 - 175 warehouses_used_A_4 <= 0

_C33: arc_B_4 - 30 warehouses_used_B_4 >= 0

_C34: arc_B_4 - 175 warehouses_used_B_4 <= 0

_C35: arc_C_4 - 30 warehouses_used_C_4 >= 0

_C36: arc_C_4 - 175 warehouses_used_C_4 <= 0

_C37: arc_D_4 - 35 warehouses_used_D_4 >= 0

_C38: arc_D_4 - 175 warehouses_used_D_4 <= 0

_C39: arc_E_4 - 25 warehouses_used_E_4 >= 0

_C40: arc_E_4 - 175 warehouses_used_E_4 <= 0

_C41: arc_A_5 - 25 warehouses_used_A_5 >= 0

_C42: arc_A_5 - 175 warehouses_used_A_5 <= 0

_C43: arc_B_5 - 30 warehouses_used_B_5 >= 0

_C44: arc_B_5 - 175 warehouses_used_B_5 <= 0

_C45: arc_C_5 - 30 warehouses_used_C_5 >= 0

_C46: arc_C_5 - 175 warehouses_used_C_5 <= 0

_C47: arc_D_5 - 35 warehouses_used_D_5 >= 0

_C48: arc_D_5 - 175 warehouses_used_D_5 <= 0

_C49: arc_E_5 - 25 warehouses_used_E_5 >= 0

_C50: arc_E_5 - 175 warehouses_used_E_5 <= 0

_C51: arc_A_6 - 25 warehouses_used_A_6 >= 0

_C52: arc_A_6 - 175 warehouses_used_A_6 <= 0

_C53: arc_B_6 - 30 warehouses_used_B_6 >= 0

_C54: arc_B_6 - 175 warehouses_used_B_6 <= 0

_C55: arc_C_6 - 30 warehouses_used_C_6 >= 0

_C56: arc_C_6 - 175 warehouses_used_C_6 <= 0

_C57: arc_D_6 - 35 warehouses_used_D_6 >= 0

_C58: arc_D_6 - 175 warehouses_used_D_6 <= 0

_C59: arc_E_6 - 25 warehouses_used_E_6 >= 0

_C60: arc_E_6 - 175 warehouses_used_E_6 <= 0

_C61: arc_A_7 - 25 warehouses_used_A_7 >= 0

_C62: arc_A_7 - 175 warehouses_used_A_7 <= 0

_C63: arc_B_7 - 30 warehouses_used_B_7 >= 0

_C64: arc_B_7 - 175 warehouses_used_B_7 <= 0

_C65: arc_C_7 - 30 warehouses_used_C_7 >= 0

_C66: arc_C_7 - 175 warehouses_used_C_7 <= 0

_C67: arc_D_7 - 35 warehouses_used_D_7 >= 0

_C68: arc_D_7 - 175 warehouses_used_D_7 <= 0

_C69: arc_E_7 - 25 warehouses_used_E_7 >= 0

_C70: arc_E_7 - 175 warehouses_used_E_7 <= 0

_C71: arc_A_8 - 25 warehouses_used_A_8 >= 0

_C72: arc_A_8 - 175 warehouses_used_A_8 <= 0

_C73: arc_B_8 - 30 warehouses_used_B_8 >= 0

_C74: arc_B_8 - 175 warehouses_used_B_8 <= 0

_C75: arc_C_8 - 30 warehouses_used_C_8 >= 0

_C76: arc_C_8 - 175 warehouses_used_C_8 <= 0

_C77: arc_D_8 - 35 warehouses_used_D_8 >= 0

_C78: arc_D_8 - 175 warehouses_used_D_8 <= 0

_C79: arc_E_8 - 25 warehouses_used_E_8 >= 0

_C80: arc_E_8 - 175 warehouses_used_E_8 <= 0

_C81: arc_A_9 - 25 warehouses_used_A_9 >= 0

_C82: arc_A_9 - 175 warehouses_used_A_9 <= 0

_C83: arc_B_9 - 30 warehouses_used_B_9 >= 0

_C84: arc_B_9 - 175 warehouses_used_B_9 <= 0

_C85: arc_C_9 - 30 warehouses_used_C_9 >= 0

_C86: arc_C_9 - 175 warehouses_used_C_9 <= 0

_C87: arc_D_9 - 35 warehouses_used_D_9 >= 0

_C88: arc_D_9 - 175 warehouses_used_D_9 <= 0

_C89: arc_E_9 - 25 warehouses_used_E_9 >= 0

_C90: arc_E_9 - 175 warehouses_used_E_9 <= 0

_C91: arc_A_10 - 25 warehouses_used_A_10 >= 0

_C92: arc_A_10 - 175 warehouses_used_A_10 <= 0

_C93: arc_B_10 - 30 warehouses_used_B_10 >= 0

_C94: arc_B_10 - 175 warehouses_used_B_10 <= 0

_C95: arc_C_10 - 30 warehouses_used_C_10 >= 0

_C96: arc_C_10 - 175 warehouses_used_C_10 <= 0

_C97: arc_D_10 - 35 warehouses_used_D_10 >= 0

_C98: arc_D_10 - 175 warehouses_used_D_10 <= 0

_C99: arc_E_10 - 25 warehouses_used_E_10 >= 0

_C100: arc_E_10 - 175 warehouses_used_E_10 <= 0

_C101: warehouses_used_A_1 + warehouses_used_B_1 + warehouses_used_C_1
 + warehouses_used_D_1 + warehouses_used_E_1 >= 3

_C102: warehouses_used_A_2 + warehouses_used_B_2 + warehouses_used_C_2
 + warehouses_used_D_2 + warehouses_used_E_2 >= 2

_C103: warehouses_used_A_3 + warehouses_used_B_3 + warehouses_used_C_3
 + warehouses_used_D_3 + warehouses_used_E_3 >= 3

_C104: warehouses_used_A_4 + warehouses_used_B_4 + warehouses_used_C_4
 + warehouses_used_D_4 + warehouses_used_E_4 >= 2

_C105: warehouses_used_A_5 + warehouses_used_B_5 + warehouses_used_C_5
 + warehouses_used_D_5 + warehouses_used_E_5 >= 3

_C106: warehouses_used_A_6 + warehouses_used_B_6 + warehouses_used_C_6
 + warehouses_used_D_6 + warehouses_used_E_6 >= 2

_C107: warehouses_used_A_7 + warehouses_used_B_7 + warehouses_used_C_7
 + warehouses_used_D_7 + warehouses_used_E_7 >= 2

_C108: warehouses_used_A_8 + warehouses_used_B_8 + warehouses_used_C_8
 + warehouses_used_D_8 + warehouses_used_E_8 >= 3

_C109: warehouses_used_A_9 + warehouses_used_B_9 + warehouses_used_C_9
 + warehouses_used_D_9 + warehouses_used_E_9 >= 3

_C110: warehouses_used_A_10 + warehouses_used_B_10 + warehouses_used_C_10
 + warehouses_used_D_10 + warehouses_used_E_10 >= 3

VARIABLES
0 <= arc_A_1 Integer
0 <= arc_A_10 Integer
0 <= arc_A_2 Integer
0 <= arc_A_3 Integer
0 <= arc_A_4 Integer
0 <= arc_A_5 Integer
0 <= arc_A_6 Integer
0 <= arc_A_7 Integer
0 <= arc_A_8 Integer
0 <= arc_A_9 Integer
0 <= arc_B_1 Integer
0 <= arc_B_10 Integer
0 <= arc_B_2 Integer
0 <= arc_B_3 Integer
0 <= arc_B_4 Integer
0 <= arc_B_5 Integer
0 <= arc_B_6 Integer
0 <= arc_B_7 Integer
0 <= arc_B_8 Integer
0 <= arc_B_9 Integer
0 <= arc_C_1 Integer
0 <= arc_C_10 Integer
0 <= arc_C_2 Integer
0 <= arc_C_3 Integer
0 <= arc_C_4 Integer
0 <= arc_C_5 Integer
0 <= arc_C_6 Integer
0 <= arc_C_7 Integer
0 <= arc_C_8 Integer
0 <= arc_C_9 Integer
0 <= arc_D_1 Integer
0 <= arc_D_10 Integer
0 <= arc_D_2 Integer
0 <= arc_D_3 Integer
0 <= arc_D_4 Integer
0 <= arc_D_5 Integer
0 <= arc_D_6 Integer
0 <= arc_D_7 Integer
0 <= arc_D_8 Integer
0 <= arc_D_9 Integer
0 <= arc_E_1 Integer
0 <= arc_E_10 Integer
0 <= arc_E_2 Integer
0 <= arc_E_3 Integer
0 <= arc_E_4 Integer
0 <= arc_E_5 Integer
0 <= arc_E_6 Integer
0 <= arc_E_7 Integer
0 <= arc_E_8 Integer
0 <= arc_E_9 Integer
0 <= warehouses_used_A_1 <= 1 Integer
0 <= warehouses_used_A_10 <= 1 Integer
0 <= warehouses_used_A_2 <= 1 Integer
0 <= warehouses_used_A_3 <= 1 Integer
0 <= warehouses_used_A_4 <= 1 Integer
0 <= warehouses_used_A_5 <= 1 Integer
0 <= warehouses_used_A_6 <= 1 Integer
0 <= warehouses_used_A_7 <= 1 Integer
0 <= warehouses_used_A_8 <= 1 Integer
0 <= warehouses_used_A_9 <= 1 Integer
0 <= warehouses_used_B_1 <= 1 Integer
0 <= warehouses_used_B_10 <= 1 Integer
0 <= warehouses_used_B_2 <= 1 Integer
0 <= warehouses_used_B_3 <= 1 Integer
0 <= warehouses_used_B_4 <= 1 Integer
0 <= warehouses_used_B_5 <= 1 Integer
0 <= warehouses_used_B_6 <= 1 Integer
0 <= warehouses_used_B_7 <= 1 Integer
0 <= warehouses_used_B_8 <= 1 Integer
0 <= warehouses_used_B_9 <= 1 Integer
0 <= warehouses_used_C_1 <= 1 Integer
0 <= warehouses_used_C_10 <= 1 Integer
0 <= warehouses_used_C_2 <= 1 Integer
0 <= warehouses_used_C_3 <= 1 Integer
0 <= warehouses_used_C_4 <= 1 Integer
0 <= warehouses_used_C_5 <= 1 Integer
0 <= warehouses_used_C_6 <= 1 Integer
0 <= warehouses_used_C_7 <= 1 Integer
0 <= warehouses_used_C_8 <= 1 Integer
0 <= warehouses_used_C_9 <= 1 Integer
0 <= warehouses_used_D_1 <= 1 Integer
0 <= warehouses_used_D_10 <= 1 Integer
0 <= warehouses_used_D_2 <= 1 Integer
0 <= warehouses_used_D_3 <= 1 Integer
0 <= warehouses_used_D_4 <= 1 Integer
0 <= warehouses_used_D_5 <= 1 Integer
0 <= warehouses_used_D_6 <= 1 Integer
0 <= warehouses_used_D_7 <= 1 Integer
0 <= warehouses_used_D_8 <= 1 Integer
0 <= warehouses_used_D_9 <= 1 Integer
0 <= warehouses_used_E_1 <= 1 Integer
0 <= warehouses_used_E_10 <= 1 Integer
0 <= warehouses_used_E_2 <= 1 Integer
0 <= warehouses_used_E_3 <= 1 Integer
0 <= warehouses_used_E_4 <= 1 Integer
0 <= warehouses_used_E_5 <= 1 Integer
0 <= warehouses_used_E_6 <= 1 Integer
0 <= warehouses_used_E_7 <= 1 Integer
0 <= warehouses_used_E_8 <= 1 Integer
0 <= warehouses_used_E_9 <= 1 Integer

In [11]:
# The problem is solved using PuLP's choice of Solver

result = prob.solve()

# The status of the solution is printed to the screen
print("Status:", LpStatus[prob.status])

# Each of the variables is printed with it's resolved optimum value
for v in prob.variables():
    print(v.name, "=", v.varValue)

# The optimised objective function value is printed to the screen
print("Total Cost of Transportation = ", value(prob.objective))

Status: Optimal
arc_A_1 = 45
arc_A_10 = 25
arc_A_2 = 25
arc_A_3 = 0
arc_A_4 = 25
arc_A_5 = 0
arc_A_6 = 25
arc_A_7 = 0
arc_A_8 = 0
arc_A_9 = 25
arc_B_1 = 0
arc_B_10 = 0
arc_B_2 = 40
arc_B_3 = 30
arc_B_4 = 0
arc_B_5 = 30
arc_B_6 = 35
arc_B_7 = 40
arc_B_8 = 0
arc_B_9 = 0
arc_C_1 = 30
arc_C_10 = 0
arc_C_2 = 0
arc_C_3 = 35
arc_C_4 = 0
arc_C_5 = 0
arc_C_6 = 0
arc_C_7 = 35
arc_C_8 = 30
arc_C_9 = 45
arc_D_1 = 0
arc_D_10 = 35
arc_D_2 = 0
arc_D_3 = 35
arc_D_4 = 0
arc_D_5 = 60
arc_D_6 = 0
arc_D_7 = 0
arc_D_8 = 45
arc_D_9 = 0
arc_E_1 = 25
arc_E_10 = 25
arc_E_2 = 0
arc_E_3 = 0
arc_E_4 = 45
arc_E_5 = 30
arc_E_6 = 0
arc_E_7 = 0
arc_E_8 = 25
arc_E_9 = 25
warehouses_used_A_1 = 1
warehouses_used_A_10 = 1
warehouses_used_A_2 = 1
warehouses_used_A_3 = 0
warehouses_used_A_4 = 1
warehouses_used_A_5 = 0
warehouses_used_A_6 = 1
warehouses_used_A_7 = 0
warehouses_used_A_8 = 0
warehouses_used_A_9 = 1
warehouses_used_B_1 = 0
warehouses_used_B_10 = 0
warehouses_used_B_2 = 1
warehouses_used_B_3 = 1
warehouses_used_B_4 = 0
warehouses_used_B_5 = 1
warehouses_used_B_6 = 1
warehouses_used_B_7 = 1
warehouses_used_B_8 = 0
warehouses_used_B_9 = 0
warehouses_used_C_1 = 1
warehouses_used_C_10 = 0
warehouses_used_C_2 = 0
warehouses_used_C_3 = 1
warehouses_used_C_4 = 0
warehouses_used_C_5 = 0
warehouses_used_C_6 = 0
warehouses_used_C_7 = 1
warehouses_used_C_8 = 1
warehouses_used_C_9 = 1
warehouses_used_D_1 = 0
warehouses_used_D_10 = 1
warehouses_used_D_2 = 0
warehouses_used_D_3 = 1
warehouses_used_D_4 = 0
warehouses_used_D_5 = 1
warehouses_used_D_6 = 0
warehouses_used_D_7 = 0
warehouses_used_D_8 = 1
warehouses_used_D_9 = 0
warehouses_used_E_1 = 1
warehouses_used_E_10 = 1
warehouses_used_E_2 = 0
warehouses_used_E_3 = 0
warehouses_used_E_4 = 1
warehouses_used_E_5 = 1
warehouses_used_E_6 = 0
warehouses_used_E_7 = 0
warehouses_used_E_8 = 1
warehouses_used_E_9 = 1
Total Cost of Transportation =  11250

In [12]:
# Printing the quantity table

warehouses_name = ["Seattle", "San Francisco", "Las Vegas", "Phoenix", "Denver"]

contracts_list = []
for y in contracts:
  temp_list = []
  for x in warehouses:
    temp_list.append(value(vars[x][y]))
  contracts_list.append(temp_list)

quantity_table = DataFrame(data = zip(warehouses_name, contracts_list[0], contracts_list[1], contracts_list[2], contracts_list[3], contracts_list[4], contracts_list[5], contracts_list[6], contracts_list[7], contracts_list[8], contracts_list[9]),
                  columns = ["Filiais" ,"Washington", "Oregon", "California", "Idaho", "Nevada", "Montana", "Wyoming", "Arizona", "Utah", "Colorado"],
        )

quantity_table

,Filiais,Washington,Oregon,California,Idaho,Nevada,Montana,Wyoming,Arizona,Utah,Colorado
0,Seattle,45,25,0,25,0,25,0,0,25,25
1,San Francisco,0,40,30,0,30,35,40,0,0,0
2,Las Vegas,30,0,35,0,0,0,35,30,45,0
3,Phoenix,0,0,35,0,60,0,0,45,0,35
4,Denver,25,0,0,45,30,0,0,25,25,25

In [13]:
# Printing the prices table

prices_list = []
for y in contracts:
  temp_cost = 0
  for x in warehouses:
    temp_cost += value(vars[x][y])*value(costs[x][y])
  prices_list.append(temp_cost)



prices_table = DataFrame(array([prices_list]),
                  columns = ["Washington", "Oregon", "California", "Idaho", "Nevada", "Montana", "Wyoming", "Arizona", "Utah", "Colorado"],
        )

prices_table

,Washington,Oregon,California,Idaho,Nevada,Montana,Wyoming,Arizona,Utah,Colorado
0,1800,975,1000,825,1050,1200,1325,1125,600,1350